name: Build RDP Server

on:
  push:
    branches:
      - main
  workflow_dispatch: # Enable manual triggering

jobs:
  rdp-server:
    runs-on: windows-latest

    strategy:
      matrix:
        node-version: [14.x] # Use Node.js version 14 or higher
        npm-version: [6.14.1]
        react-version: [16.13.1]

    env:
      WINDOWS_VERSION: '10.0.19041.653 (winbuild.19041.653)'
      NODE_VERSION: ${{ matrix.node-version }}
      NPM_VERSION: ${{ matrix.npm-version }}
      REACT_VERSION: ${{ matrix.react-version }}
      APP_NAME: 'xrptex'

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Node.js and npm
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          npm-version: ${{ env.NPM_VERSION }}

      - name: Install React
        run: |
          npx create-react-app my-app
          cd my-app

      - name: Install ngrok
        run: |
          Invoke-WebRequest -Uri https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-windows-amd64.zip -OutFile ngrok.zip
          Expand-Archive ngrok.zip -DestinationPath $env:USERPROFILE
          Remove-Item ngrok.zip

      - name: Auth
        run: $env:USERPROFILE\ngrok\ngrok.exe authtoken $Env:NGROK_AUTH_TOKEN

      - name: Enable TS
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 1
          Set-LocalUser -Name "runneradmin" -Password (ConvertTo-SecureString -AsPlainText "Rabiu2004@" -Force)

      - name: Create Tunnel
        run: $env:USERPROFILE\ngrok\ngrok.exe tcp 3389

      - name: Build the application
        run: npm run build

      - name: Run tests
        run: echo "Running tests"

      - name: Upload artifacts to S3
        uses: actions/upload-artifact@v2
        with:
          name: application
          path: $env:USERPROFILE\ngrok
